<h1>Books</h1>

<% @books.each do |book| %>
  
  <main>
    <h5>Title</h5>
    <span class="title"><%= book.title %></span>
  
    <h5>Body</h5>
    <span class="body"><%= book.body %></span>
    
    <%= link_to "Show", book_path(@book.id) %>
  </main>
  
<% end %>

<h2>New book</h2>
<%= form_with model: @book, url: '/books',method: :post do |f| %>
  <h6>Title</h6>
    <%= f.text_field :title %>

  <h6>Body</h6>
    <%= f.text_area :body %>

  <%= f.submit 'Create Book' %>
<% end %>
